body
{
    font-family: "Hiragino Sans GB","icrosoft YaHei","微软雅黑",Georgia,tahoma,arial,simsun,"å®‹ä½“";
}

.container
{
    margin-left:auto;
    margin-right:auto;
    max-width:600px;
}

.container a
{
   color:rgb(11, 123, 197);
   text-decoration: none;
}

.container a:hover
{
    text-decoration: underline;
}

.container h1
{
    color:#ccc;
    font-weight: 400;
}

.container input[type='text'],.container input[type='password']
{
    padding:10px;
    border:2px solid #eee;
    font-size: 14px;
}

.container input[type='submit']
{
    padding:10px;
    background-color:rgb( 0 , 152 , 255 );
    border:0px;
    color:white;
    font-size: 14px;
}

.container .cancel-button
{
    padding:10px;
    background-color:rgb(153, 153, 153);
    border:0px;
    color:white;
    font-size: 14px;
    margin-left:10px;
    text-align: center;
}
.container textarea
{
    padding:10px;
    border:2px solid #eee;
    font-size: 14px;
    min-height:200px;
}

.container *::placeholder 
{
    color:#ccc;
}

.middle
{
    width:300px;
}

.full
{
    width:100%;
}

.middle-button
{
    width:100px!important;
}

.form_info:not(:empty)
{
    padding:10px;
    font-size: 14px;
    background-color: bisque;
}

.resume_list
{
    padding:0px;
    font-size: 16px!important;
}


.resume_list li
{
    margin:0px;
    display: block;
    /* list-style-image: url(image/portrait.png); */
}

.resume_list li .title
{
    display: inline-block;
    border-bottom:2px solid #eee;
    text-decoration: none;
    color:rgb( 0 , 152 , 255 );
    line-height: 30px;
    margin-left:10px;
    margin-right:10px;
}

.resume_list li a:not(.title)
{
    padding-left:10px;
    display: inline-block;
}

.resume_list li
{
    vertical-align: middle;
}

.resume_add 
{
    display: inline-block;
    text-decoration: none;
    color: rgb( 0 , 152 , 255 );
    font-size: 16px;
    margin-top:20px;
}

.resume_add img
{
    max-height:14px;
}

.headbox
{
    min-height:80px;
    /* border-bottom:1px solid red; */
    clear:both;
}

.headbox a
{
    color: rgb( 0 , 152 , 255 );
}

.headbox .logo
{
    float:left;

}

.headbox .menu
{
    float:right;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}

.headbox .menu > li
{
    display: inline-block;
}

.menu_square
{
    display: inline-block;
    background-color: #ccc;
    width:14px;
    height: 14px;
    margin-right:5px;
}

.menu_square_large
{
    display: inline-block;
    background-color: #ccc;
    width:24px;
    height: 24px;
    margin-right:5px;
}